{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1 class="genre-name">{{genre.name}}</h1>
		</div>
		<div class="col-md-1"></div>
	</div>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<!-- FLASHING MESSAGE -->
			{% with messages = get_flashed_messages() %}
			{% if messages %}

				<div class="alert alert-info" role="alert">
					{% for message in messages %}
				  		{{message}}
				  	{% endfor %}
				</div>
			{% endif %}
			{% endwith %}
			{% if user_id == genre.creator_id %}
				<a href="{{url_for('newGenreGame', genre_id = genre.id)}}">
					<button class="btn btn-default" id="new-genre-game">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Game
					</button>
				</a>
			{% endif %}
		</div>
		<div class="col-md-1"></div>
	</div>

	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			{% for v in videoGames %}

				<div>

					<h3>{{v.title}}</h3>

					<p>{{v.description}}</p>

					<p> {{v.boxart}} </p>

					{% if user_id == v.creator_id %}

						<a href='{{url_for('editGenreGame', genre_id = genre.id, game_id = v.id) }}'>Edit</a>

						</br>
						<a href = '{{url_for('deleteGenreGame', genre_id = genre.id, game_id = v.id ) }}'>Delete</a>
					{% endif %}
				</div>
			{% endfor %}
		</div>
		<div class="col-md-2"></div>
	</div>
{% endblock %}